@import "./base.css";

.modal-open {
  overflow: hidden;
}

/* Menu Animation */
.menu-enter-active,
.menu-leave-active {
  transition: transform 0.3s ease;
  transform-origin: top left;
}

.menu-enter-from,
.menu-leave-to {
  transform: scale(0);
}

.el-date-editor--daterange {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  padding: 0px !important;
}
.el-range__icon {
  display: none !important;
}
.el-input__wrapper {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none;
}
.el-input__wrapper:hover {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}
.el-input__wrapper.is-focus {
  border: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.el-range-input {
  color: #10182c !important;
  font-size: 16px !important;
  line-height: 18px !important;
}
.el-range-input::placeholder {
  color: #10182c !important;
  font-size: 16px !important;
  line-height: 18px !important;
}

@media only screen and (max-width: 650px) {
  .el-date-range-picker {
    max-width: 400px !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 600px) {
  .el-date-range-picker__content {
    width: 100% !important;
  }
  .el-date-range-picker .el-picker-panel__body {
    min-width: 100px !important;
  }
}
